/* General styles for the entire page */
.App {
  text-align: center;
  background-color: #edede8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the sign-up and login section */
.signup-login-section {
  width: 90%;
  margin: 0 auto;
  margin-left: 60%; /* Center the section horizontally */
  background-color: white;
  padding: 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  border: 2px solid #c6c6f4;
}

/* Styles for input containers */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  font-size: 20px;
}

/* Label styles for form inputs */
.label {
  font-size: larger;
  color: rgb(91, 91, 231);
  margin-bottom: 10px;
}

/* Input field styles */
.input {
  font-size: larger;
  padding: 10px;
  width: 150%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Styles for Sign Up and Log In buttons */
.sign-up-button,
.log-in-button {
  background-color: #eb86eb;
  color: white;
  font-size: 100px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

/* Style specific to the Log In button */
.log-in-button {
  background-color: rgb(77, 109, 238);
  width: 100%;
  margin-top: 40px;
}

.log-in-button h3 {
  font-size: 25px;
  margin: 0;
}

/* Style specific to the Sign Up button */
.sign-up-button {
  background-color: rgb(229, 137, 246);
  width: 50%;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.sign-up-button h3 {
  font-size: 20px;
  margin: 0;
}

.left-section {
  width: 90%;
  text-align: left;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 450px;
  position: absolute;
  top: 110px;
  left: 12%;
  transform: translateX(-50%);
}

.big-text {
  font-size: 75px;
  color: rgb(97, 97, 220);
  font-weight: bold;
  position: absolute;
  left: 320px;
  bottom: 430px;
  font-family: "Tahoma", sans-serif;
}

.small-text {
  font-size: 50px;
  color: rgb(193, 90, 179);
  font-weight: normal;
  margin-top: 10px;
  position: absolute;
  left: 230px;
  bottom: 310px;
  font-family: "Lobster", cursive;
}

/* Hover effect for both buttons */
.sign-up-button:hover,
.log-in-button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
