.design-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  text-align: center;
}

.design-top-bar {
  background-color: #ba68c8;
  color: white;
  padding: 10px;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.design-title {
  font-size: 2em;
  margin-left: 30px;
}

.design-profile-container {
  position: relative;
}

.design-profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.design-dropdown-menu {
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.design-dropdown-menu button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.design-search-bar-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-search-bar {
  display: flex;
}

.design-search-bar input[type="textbox"] {
  padding: 10px 15px;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 25px 0 0 25px;
  margin-right: -1px;
}

.design-search-bar button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  border-left: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.design-community-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.design-sidebar-header {
  align-self: flex-start;
  font-weight: bold;
  font-size: 20px;
  color: rgb(168, 153, 235);
  margin: 0;
  padding: 10px 0;
  width: 100%;
  font-family: "'Pacifico', cursive";
}

.cos {
  background-color: #e57373;
}
.eco {
  background-color: #81c784;
}
.business {
  background-color: #64b5f6;
}
.finance {
  background-color: #ffb74d;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .design-container {
    grid-template-columns: 1fr; /* Stack sidebar below main content on smaller screens */
  }

  .design-search-bar input[type="textbox"],
  .design-search-bar button {
    font-size: 0.8em; /* Smaller font size for smaller screens */
  }

  .design-sidebar-header {
    font-size: 18px; /* Slightly smaller header font size */
  }
}
