/* General styles for the entire page */
.Home {
  text-align: center;
  background-color: #edede8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the sign-up and login section */
.Homesignup-login-section {
  width: 90%;
  margin: 0 auto;
  margin-left: 50%; /* Center the section horizontally */
  background-color: white;
  padding: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  border: 2px solid #c6c6f4;
}

/* Styles for input containers */
.Homeinput-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  font-size: 20px;
}

/* Label styles for form inputs */
.Homelabel {
  font-size: larger;
  color: rgb(91, 91, 231);
  margin-bottom: 10px;
}

/* Input field styles */
.Homeinput {
  font-size: larger;
  padding: 15px;
  width: 160%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Styles for Sign Up and Log In buttons */
.Homesign-up-button,
.Homelog-in-button {
  background-color: #eb86eb;
  color: white;
  font-size: 25px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

/* Style specific to the Log In button */
.Homelog-in-button {
  background-color: rgb(77, 109, 238);
  width: 80%;
  margin-top: 20px;
}

/* Style specific to the Sign Up button */
.Homesign-up-button {
  background-color: rgb(229, 137, 246);
  width: 40%;
  align-self: center;
  height: 80px;
  padding: 0px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Homeleft-section {
  width: 90%;
  text-align: left;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Homelogo {
  width: 450px; /* Adjust the width as needed */
  position: absolute;
  top: 19%; /* Adjust the top position as needed */
  left: 9%; /* Center the image horizontally */
  transform: translateX(-50%);
}

.Homebig-text {
  font-size: 75px;
  color: rgb(97, 97, 220);
  font-weight: bold;
  position: absolute;
  left: 16.5%; /* Adjust the left position as needed */
  bottom: 46.5%;
  font-family: "Tahoma", sans-serif;
}

.Homesmall-text {
  font-size: 50px;
  color: rgb(193, 90, 179);
  font-weight: normal;
  margin-top: 10px;
  position: absolute;
  left: 230px; /* Adjust the left position to match the "big-text" */
  bottom: 310px;
  font-family: "Lobster", cursive;
}

/* Hover effect for both buttons */
.Homesign-up-button:hover,
.Homelog-in-button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
