/* styles.css */
.mainpage-title {
  font-size: 2em;
}

.mainpage-addButton::before,
.mainpage-addButton::after {
  content: "";
  position: absolute;
  background-color: white;
}

.mainpage-addButton::before {
  width: 2px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainpage-addButton::after {
  height: 2px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainpage-postList {
  margin-top: 10px;
  background-color: #dddddd;
  margin-left: 10px;
  align-self: center;
  width: 50%;
}

.mainpage-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 300px 1fr 300px;
  height: 100vh;
  text-align: center;
}

.mainpage-post {
  background-color: #ffffff;
  border: 1px solid rgb(217, 146, 212);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: 400px*/
  /*
  potentially make each post box larger,
  Maybe make it depend on image size
  Refer to the reddit style
  */
}

.mainpage-addButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(91, 91, 231);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainpage-top-bar {
  background-color: rgb(134, 115, 230);
  color: white;
  padding: 10px;
  grid-column: 1 / -1;
  position: relative;
}

.mainpage-sidebar {
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  width: 300px;
}

.mainpage-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #dddddd;
  width: 100%;
  scrollbar-width: 100px;
}

::-webkit-scrollbar {
  display: none;
}

.mainpage-image {
  align-self: center;
}

.mainpage-add-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.mainpage-profile-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 26px;
  right: 20px;
  z-index: 3;
}

.mainpage-profile-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.mainpage-sign-out-button {
  background-color: #ccc;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.mainpage-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mainpage-dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mainpage-dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.mainpage-sidebar-header {
  align-self: flex-start;
  font-weight: bold;
  font-size: 20px;
  color: rgb(168, 153, 235);
  margin: 0;
  padding: 10px 0;
  width: 100%;
  font-family: "'Pacifico', cursive";
}

.community-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.community-button {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: white;
  border: none;
  transition: transform 0.3s;
}

.community-button:hover {
  transform: scale(1.1);
}

.cos {
  background-color: #e57373;
}
.eco {
  background-color: #81c784;
}
.business {
  background-color: #64b5f6;
}
.finance {
  background-color: #ffb74d;
}
.design {
  background-color: #ba68c8;
}
