.mainpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #edede8;
}

.mainpage-top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.mainpage-title {
  font-size: 24px;
  color: rgb(91, 91, 231);
  margin: 0;
  margin-right: 20px;
}

.mainpage-search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.mainpage-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  flex-grow: 1;
  max-width: 600px;
}

.mainpage-search-icon {
  color: rgb(91, 91, 231);
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.mainpage-postList {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainpage-post {
  width: 200%;
  background-color: #ffffff;
  border: 1px solid rgb(217, 146, 212);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.mainpage-addButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(91, 91, 231);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainpage-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  width: 100%;
}

.mainpage-sidebar-header {
  align-self: flex-start;
  font-weight: bold;
  font-size: 20px;
  color: rgb(168, 153, 235);
  margin: 0;
  padding: 10px 0;
  width: 100%;
  font-family: "'Pacifico', cursive";
}
