.post {
    text-align: center;
    margin: 20px;
}

.post-title {
    text-align: center;
    font-size: 40px;
}

.post-body {
    font-size: 20px;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    text-align: center;
}

.post-image {
    max-width: 500px;
}

.post-return{
    text-align: left;
}

.comments-section{
    align-content: center;
}