.post-return{
    float: left;
    padding: 15px;
    background-color: #C8A6FB;
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana;
    color: white;
}
.post-return:hover{
    background-color: #8f48f8;
    color: white;
    cursor: pointer;
}
.post {
    text-align: center;
    margin: 20px;
}
.post-main-body{
    background-color: ghostwhite;
    padding: auto;
    border-radius: 10px;
}

.post-title {
    display: center;
    font-family: Verdana;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 40px;
}

.post-second-body {
    font-size: 20px;
    display: grid;
    margin-top: 5%;
    grid-template-columns: 20% 1fr 20%;
    text-align: center;
}
.post-profile-icon{
    margin-right: 3%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: right;
}
.post-image {
    max-width: 500px;
    border-radius: 15px;
}

.comments-section{
    align-content: center;
}